{
  "extends": ["labnol"],
  "rules": {
    "no-await-in-loop": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  }
}
